<div class="page">
  <div class="page-header">Weather Forecast</div>
  <div class="page-body">
    <div class="page-body__sidebar">
      <ul class="cities-list">
        <li
          [ngStyle]="
            city.selected
              ? { 'background-color': '#ADD8E6' }
              : { 'background-color': 'white' }
          "
          class="cities-list__item"
          *ngFor="let city of cities"
          (click)="onChooseCity(city)"
        >
          {{ city.name }}
        </li>
      </ul>
    </div>
    <div class="page-body__details">
      <app-weather-details
        *ngIf="chosenCity"
        [forecast]="chosenCity.forecast"
      ></app-weather-details>
    </div>
  </div>
</div>
